HELP.md
.gradle
build/
#!gradle/wrapper/gradle-wrapper.jar
#gradle/wrapper/*
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### macOS ###
# General
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

src/main/resources/data.sql
application.yml
application-*.yml
src/main/resources/credentials.json
src/main/java/com/sokuri/plog/mail/MailConfig.java
*.json
tokens/

gradlew.bat
gradlew
/src/test/java/com/sokuri/plog/config/EncryptionTest.java
/src/test/java/com/sokuri/plog/utils/GoogleApiUtilTest.java
/src/main/resources/images/
/src/main/generated/